In [1]:
import pandas as pd
import os 
import zipfile

In [38]:
YEARS = [2021, 2020, 2019, 2018, 2017]

In [4]:
file_type = {'scope': '상권',
             'data': '점포',}

In [5]:
def main_file_repr(file_type):
    return f"서울시 상권분석서비스({file_type['scope']}-{file_type['data']}).csv"

def yearly_file_repr(file_type, year):
    return f"서울시_우리마을가게_상권분석서비스(신_{file_type['scope']}_{file_type['data']})_{year}년.csv"

In [ ]:
def delete_file(file_path):
    if os.path.exists(file_path):
        os.remove(file_path)
    else:
        print("NONE")

In [16]:
def unzip_file(zip_path, dest_path="."):
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zipinfo = zip_ref.infolist()
        for info in zipinfo:
            info.filename = info.filename.encode('cp437').decode('euc-kr')
            zip_ref.extract(info)
    delete_file(zip_path)

In [24]:
def unzip_files(file_type, YEARS):
    for year in YEARS:
        zip_name = f"서울시_상권분석서비스({file_type['scope']}_{file_type['data']})_{year}년.zip"
        if not os.path.exists(zip_name):
            print(f"{zip_name} is not found.")
            continue
        unzip_file(zip_name)

In [17]:
def concat_df(file_type, YEARS):
    main_df = pd.read_csv(main_file_repr(file_type), encoding='cp949')
    dfs = [pd.read_csv(yearly_file_repr(file_type, year), encoding='cp949') for year in YEARS]
    main_df = pd.concat([main_df] + dfs)
    main_df.to_csv(f"{file_type['scope']}-{file_type['data']}_merged.csv", encoding='cp949', index=False)
    return main_df

In [18]:
main_df = concat_df(file_type, YEARS)

In [19]:
main_df.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2023,1,U,관광특구,3001496,강남 마이스 관광특구,CS300043,전자상거래업,13,13,0,0,0,0,0
1,2023,1,U,관광특구,3001496,강남 마이스 관광특구,CS300042,주유소,1,1,0,0,0,0,0
2,2023,1,U,관광특구,3001496,강남 마이스 관광특구,CS300041,예술품,8,8,0,0,0,0,0
3,2023,1,U,관광특구,3001496,강남 마이스 관광특구,CS300038,자동차부품,2,2,0,0,0,0,0
4,2023,1,U,관광특구,3001496,강남 마이스 관광특구,CS300036,조명용품,19,19,0,0,0,0,0

In [20]:
main_df['기준_년_코드'].unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017], dtype=int64)